.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #e2e2e2;
}

.header>a{
font-family: 'Roboto', sans-serif;
color:#00A2DC;
font-size: 24px;
font-weight: 600;
text-decoration: none;
}

.header>span img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    border:1px solid #e2e2e2;
    padding: 10px 5px;
}

.search2{
    display: flex;
    align-items: center;
    background-color: #00A2DC;
    padding: 10px 5px;
}

.search2 img{
    width: 15px;
    height: 15px;
    filter: invert(1);
}

.search2 button{
    background-color: inherit;
    border:inherit;
    color: white;
    letter-spacing: 3px;
}

.buttons{
display: flex;
gap: 10px;
}

.buttons a{
width: 100px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none ;
background-color: #00A2DC;
color: white;
border: inherit;
border-radius: 5px;
}