.container-login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-login h1{
    font-size: 24px;
    font-weight: 500;
}

.container-login p a{
    color: #20303c;
    height: 20px;
    line-height: 1;
    text-decoration: none;
}

.signin{
    width: 50%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.login>p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialaccount_ballot{
    padding-right: 10%;
    border-right: 2px solid #858f96;
}

.primaryAction{
    width: 168px;
    height: 35px;
    border-radius: 25px;
    background-color: #116dff;
    color: #fff;
    border: none;
}



.login p input{
    padding:10px;
    border-radius: 5px;
    border: none;
}

.login>p:last-child input{
    height: 10px;
}

.secondaryAction{
    color: #20303c;
    height: 20px;
    line-height: 1;
    text-decoration: none;
}

.socialaccount_provider{
    color: #20303c;
    height: 20px;
    line-height: 1;
    text-decoration: none;
}