.container-login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-login h1{
    font-size: 24px;
    font-weight: 500;
}

.container-login p a{
    color: #20303c;
    height: 20px;
    line-height: 1;
    text-decoration: none;
}

.signin{
    width: 50%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.login>p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialaccount_ballot{
    padding-right: 10%;
    border-right: 2px solid #858f96;
}

.primaryAction{
    width: 168px;
    height: 35px;
    border-radius: 25px;
    background-color: #116dff;
    color: #fff;
    border: none;
}



.login p input{
    padding:10px;
    border-radius: 5px;
    border: none;
}

.login>p:last-child input{
    height: 10px;
}

.secondaryAction{
    color: #20303c;
    height: 20px;
    line-height: 1;
    text-decoration: none;
}

.socialaccount_provider{
    color: #20303c;
    height: 20px;
    line-height: 1;
    text-decoration: none;
}


.reset-password{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.reset-password form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.reset{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid #e7e7e7;
    padding: 30px 20px;
    position: relative;
}

.reset h1{
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    top: -12px;
}


.reset p{
    font-size: 16px;
    font-family: "Roboto",sans-serif;
}

.reset-password .submit{
    background-color: #00A2DC;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    width: 20%;
}

.reset-password input{
    border: none;
    outline: none;
    padding: 5px 5px;
}