{% extends 'author/head.html' %}

{% load static %}
 {% comment %} {% load media %} {% endcomment %}
    {% block content %}

          <section class="blogEnt">
        <div class="left">
        <h1 class="headTitle">Here you can see saved blogs of yours!!!!<h1>
          <div class="blogs">
          {% for dest in dests%}

           <div class="blog-item">
        <img src="/media/{{ dest.img_url }}" alt="Great">
        <span class="addition">
        <h2> {{dest.title}} </h2>
        </span>
        <p>{{dest.description}}</p>

         <span class="users">
            <i>
                <img src="{% static "author/img/calendar.svg" %}" alt="">
                {{dest.date}}
            </i>
             <i>
               <!-- <img src="{% static "author/img/eye.svg" %}" alt="">
               <p>21</p> -->
        
              </i>
           <i>
               <img src="{% static 'author/img/Shape.svg' %}" alt="">
               <p></p>
           </i> 
           <i>
            <img src="{% static 'author/img/like.png' %}" alt="">
            <p>{{ dest.likes.count }}</p>
        </i> 
            <i>
               <img src="{% static "author/img/Fill.svg" %}" alt="">
               <p>{{ dest.category }}</p>
           </i> 
           <i>
               <img src="{% static "author/img/Vector.svg" %}" alt="">
               <a href="{% url 'profile' dest.author_id %}">{{ dest.author_id }}</a>
           </i>
            <i>
               <a href="{% url 'favorite_add' dest.id %}"><img src="{% static "author/img/Vector.svg" %}" alt=""></a>
           </i>
        </span>
      </div>  
        {% endfor %}
         </div>
    </div>
</section>

{% endblock %}