
{% extends 'author/head.html' %}
{% load static %}


 {% block content %}
    {% if form.errors %}
<p>There's something wrong with what you entered!</p>
{% endif %}
    <section class="sender">
    <h2>New Blog</h2>
        <form action="{% url 'addBlog' %}" class="add" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} <select name="category_id" id="category">
            <option value="" disabled selected>Choose a category</option>   
          </select> {% endcomment %}
          <button class="file" type="button">
              <p>Choose an image</p>
          </button>
             {{ form.img_url }}
             {{ form.title }}
             {{ form.description }}
             {{ form.category }}
          <button type="submit">Enter</button>
        </form>
    </section>
    {% endblock %}
