{% extends 'author/head.html' %}

{% load static %}
 {% comment %} {% load media %} {% endcomment %}

  
    {% block content %}
            {% if request.user.is_authenticated %}
          <section class="blogEnt">
        <div class="left">
         {% if request.user == adam %}
            <span class="newBlog">
                <p>My blogs</p>
                <a href="{% url 'goNewBlog' %}">New blog</a>
            </span>
         {% endif %}
          <div class="blogs">

          {% for dest in dests %}
           <div class="blog-item">
        <img src="../media/{{ dest.img_url }}" alt="">
        <span class="addition">
        <h2> {{dest.title}} </h2>
        {% if request.user == dest.author_id%}
        <i onmouseover="showEdit(this)">
        <img src="images/dots3.svg" alt="">
        <p>Еще</p>
        <l class="edit" id="edit">
            <a href="{% url 'editBlogs' dest.pk %}">Edit</a> 
            <a href="{% url 'deleteBlog' dest.id %}">Delete</a>
        </l>
       </i>
       {% endif %}
        </span>
        <p>{{dest.description}}</p>

         <span class="users">
            <i>
                <img src="{% static "author/img/calendar.svg" %}" alt="">
                {{dest.date}}
            </i>
            <i>
               <img src="{% static "author/img/eye.svg" %}" alt="">
               <p>21</p>
           </i>

           <i>
               <img src="{% static "author/img/Shape.svg" %}" alt="">
               <p>7</p>
           </i> 
            <i>
               <img src="{% static "author/img/Fill.svg" %}" alt="">
               <p>Blog Name</p>
           </i> 
           <i>
               <img src="{% static "author/img/Vector.svg" %}" alt="">
              
               <a href="">{{ dest.author_id }}</a>
           </i>
        </span>
      </div>
     {% endfor %}
              
          </div>
 
        </div>
 
        <div class="prof">
            <img src="{% static "author/img/ava.jpg" %}" alt="">
            <h4>Alzhan Akhmetkerey</h4>
            <p>В основном пишу про веб - разработку, на React & Redux</p>
            <p>285 постов за все время</p>
            <button>Edit</button>
            
            <a href="{% url 'logou1t' %}">Выход</a>
        </div>
 
       </section>
       
             
            {% endif %}
  
            {% endblock %}
 <script src="{% static "author/js/index.js" %}"></script>


